.wp-block-create-block-piccy-gallery {
    .preview-mode-header {
        margin-bottom: 15px;
        gap: 15px;
        img {
            border: 5px solid transparent;
            transform: scale(1);
            transition: 0.3s ease-in all;
            border-radius: 10px;
            filter: brightness(0.5);
            cursor: pointer;
            &:hover {
                filter: brightness(1);
                border-color: #006dff;
                transform: scale(1.1);
            }
            &.selected {
                filter: brightness(1);
                border-color: #006dff;
                transform: scale(1.1);
            }
        }
    }
}